{% extends 'base.html'%}
{% block head %}
    <title>Task Master</title>
{% endblock %}

{% block body %}
    <div class="title_container">
        <h1 class="title">Update Task </h1>
    </div>
        
    <div class="content">
       <div class="actions"> 
        <form action="/update/{{task.id}}" method="post">
            <!-- <input type="text"  class="action_input" name="content" value={{task.content}} id="content"> -->
            <textarea name="content" id="content" rows="10" cols="50">{{task.content}}</textarea>
            <input type="submit" class="action_button" value="Update">
        </form>
        
    </div>
    </div>   
{% endblock %}
